.menu {
    border: 1px solid darken($off-white, 10%);
    border-radius: 5px;
    margin-top: $lg;
    margin-bottom: $lg;
    margin-left: $lg;
    margin-right: $lg;
    padding: $lg;
}

.menu-item {
    display: block;
    border: 1px solid darken($off-white, 10%);
    text-align: center;
    background-color: $green;
    color: $white;
    border-radius: 5px;
    margin: $lg;
    padding: $s $lg;
}

@media screen and (max-width: 400px) {
    .menu {
        width: 98%;
        border: 0;
        margin: 1%;
    }

    .menu-item {
        padding: $xs $s;
        margin: $md;
    }

  }