.questions, .results {
    background-color: $off-white;
    border-left: 5px solid $blue;
    width: 80%;
    margin: $lg auto 0 auto;
    padding: $s $md;

    .lifeline-container {
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    
    .lifeline {
        position: relative;
        top: -3px;
    }

    .lifeline-hints {
        color: $green;
        cursor: pointer;
        text-align: right;
    }

    .lifeline-hints:hover {
        color: darken($orange, 10%);
        background: none;
        cursor: pointer;
    }

    .lifeline-fifty-fifty {
        color: $green;
        cursor: pointer;
    }

    .lifeline-fifty-fifty:hover {
        color: darken($orange, 10%);
        background: none;
        cursor: pointer;
    }

    #replace {
        display: none;
        color: transparent;
        cursor: auto;
    }

}

h5 {
    font-size: 1.2rem;
    margin-bottom: lg;
    line-height: 1.5;
    text-align: center;

}

.options-container {
    display: inline-block;
    width: 50%;


    .option {
        background-color: $blue;
        border-radius: 15px;
        color: $white;
        cursor: pointer;
        margin: $md auto;
        padding: $n;
        transition: 0.3s linear all;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: darken($blue, 20%);
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $s auto;
    padding: $md;
    width: 80%;
}

.button-container button {
    border: none;
    color: $off-white;
    cursor: pointer;
    margin-right: $md;
    padding: $xs $s;
}

.button-container button:first-child {
    background-color: darken($blue, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:first-child:hover {
    background-color: darken($blue, 20%);
}

.button-container button:nth-child(2) {
    background-color: $green;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:nth-child(2):hover {
    background-color: darken($green, 10%);
}

.button-container button:last-child {
    background-color: $red;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:last-child:hover {
    background-color: darken($red, 10%);
}

.toast-invalid {
    background-color: darken($red, 10%) !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-valid {
    background-color: darken($green, 10%) !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.disable {
    pointer-events: none;
    background-color: #ccc !important;
    box-shadow: none !important;
    opacity: 0.9 !important;
}

.results {
    display: none;
}



