.questions, .results {
    background-color: $off-white;
    border-left: 5px solid $blue;
    width: 80%;
    margin: $md auto 0 $md;
    padding: $s $md;
    display: none;

    .lifeline-container {
        display: grid;
        grid-template-columns: 10% 80% 10%;
    }
    
    .lifeline {
        position: relative;
        top: -3px;
    }

    .lifeline-hints {
        color: $green;
        cursor: pointer;
        text-align: right;
    }

    .lifeline-hints:hover {
        color: darken($orange, 10%);
        background: none;
        cursor: pointer;
    }

    .lifeline-fifty-fifty {
        color: $green;
        cursor: pointer;
    }

    .lifeline-fifty-fifty:hover {
        color: darken($orange, 10%);
        background: none;
        cursor: pointer;
    }

    #replace {
        display: none;
        color: transparent;
        cursor: default;
    }

}

h5 {
    font-size: 1.2rem;
    margin-bottom: lg;
    line-height: 1.5;
    text-align: center;

}

.options-container {
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;


    .option {
        background-color: $blue;
        border-radius: 15px;
        color: $white;
        cursor: pointer;
        margin: $md auto;
        padding: $n;
        text-align: center;
        width: 90%;
    }

    .option:hover {
        background-color: darken($blue, 20%);
    }
    .correct {
        background-color: $green;
        display: none;
        cursor: default;
    }

    .correct:hover {
        background-color: $green;
        cursor: default;
    }

    .incorrect {
        background-color: $red;
        display: none;
        cursor: default;
    }
    .incorrect:hover {
        background-color: $red;
        cursor: default;
    }

    .other-option {
        background-color: #ccc;
        display: none;
        cursor: default;
    }
    .other-option:hover {
        background-color: #ccc;
        cursor: default;
    }

  
}

.button-container {
   text-align: center;
    margin: 0 auto $s auto;
    padding: $md;
    width: 80%;
}

.button-container button {
    border: none;
    color: $off-white;
    cursor: pointer;
    padding: $xs $s;
}

.button-container button:first-child {
    background-color: darken($blue, 10%);
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:first-child:hover {
    background-color: darken($blue, 20%);
}

.button-container button:nth-child(2) {
    background-color: $green;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:nth-child(2):hover {
    background-color: darken($green, 10%);
}

.button-container button:last-child {
    background-color: $red;
    box-shadow: $shadow;
    transition: 0.2s linear all;
}

.button-container button:last-child:hover {
    background-color: darken($red, 10%);
}

.toast-invalid {
    background-color: darken($red, 10%) !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-valid {
    background-color: darken($green, 10%) !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.toast-saved {
    background-color: $blue !important;
    border-radius: 5px !important;
    color: $off-white !important;
}

.disable {
    pointer-events: none;
    background-color: #ccc !important;
    box-shadow: none !important;
    opacity: 0.9 !important;
}

#loading {
    text-align: center; 
}

#question-with-answers {
    margin-top: $xxl;
}

.spin {
    font-size: $lg;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }


@media screen and (max-width: 400px) {
    .questions, .results {
        width: 90%;
        margin: 5%;
    }
    h1 {
        font-size: 6px;
    }
}

#comment-container {
    text-align: center;

    #comment-correct, #comment-incorrect {
        display: none;
        text-align: center;
    }

    .continue-button {
        background-color: $green;
        box-shadow: $shadow;
        transition: 0.2s linear all;
    }
    .continue-button:hover {
        background-color: darken($green, 20%);
    }

    button {
        border: none;
        color: $off-white;
        cursor: pointer;
        padding: $xs $s;
    }
}


    #results-button-container {
        text-align: center;
         padding: $md;
         width: 80%;
         margin-left: $md;
     }
     
     #results-button-container button {
        border: none;
        color: $off-white;
        cursor: pointer;
        margin: $xs;
        padding: $xs $s;
        background-color: $red;
        box-shadow: $shadow;
        transition: 0.2s linear all;
      
     }






